/* Stylowanie obrazków */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  /* Stylowanie tabel */
  table {
    width: 100%;
    font-weight: bold;
    color: #8597e0;
    border-collapse: collapse;
    margin-bottom: 16px;
    border-color: lightgreen;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Stylowanie listy */
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 16px;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  /* Stylowanie nagłówków */
  h2 {
    color: #8597e0;
    text-decoration: dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
