/* Stylowanie obrazków */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  /* Stylowanie tabel */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
  }
  
  th, td {
    border: 1px solid #380f48;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #d7a8ea; /* Kolor tła nagłówków */
    color: #5e0671; /* Kolor napisów w nagłówkach */
  }
  td {
    background-color: #ebd9df; /* Kolor tła komórek */
    color: #a40c04; /* Kolor napisów w komórkach */
  }
  
  /* Stylowanie listy */
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 16px;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  /* Stylowanie nagłówków */
  h2 {
    color: #8597e0;
    text-decoration: dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
